{% extends 'base.html' %}

<title>{% block title %}TheBestRoute - Map{% endblock %}</title>


</head>

{% block page_body_main_content %}


     <div class="map-container page-container">

            {% block page_sidebar %}

{% include 'sidebar.html' %}
{% endblock %}

               <div id="map"></div>
          
          <div class="footer">
          <p>Contact Us. Email: thebestintown@gmail.com . Facebook: The Best In Town . Phone: 097968630 </p>
          </div>

     </div>

{% block page_body_js %}
    <script src="{{ url_for('map.static', filename='js/map.js') }}"></script>


     <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyk6v-3Lqx7qfcxUNpH6Cwflik_ktbwSo&callback=initMap">
</script>
{% endblock %}
{% endblock %}
</html>